In [ ]:
from sklearn.feature_extraction import DictVectorizer
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import  ShuffleSplit, train_test_split
import sklearn
import pickle
import joblib

(20 points) Load a non-JSON dataset of your choice from data.gov, http://catalog.data.gov/dataset into SKLearn. Save the dataset to a Pickle (.pkl) file and submit the file and your code with your assignment.

a. 	Spend some time exploring this dataset, and brainstorm a question that you can use it to answer.

b. 	First, use the read_csv function in pandas to load the data into a dataframe. Next, use the to_dict function to save the data as a dictionary (HINT: transpose the data and make sure to only keep the values)

In [ ]:
# Average Daily Traffic Counts
df = pd.read_csv("https://data.cityofchicago.org/api/views/pfsx-4n4m/rows.csv?accessType=DOWNLOAD", header=None)

In [ ]:
df.columns = ["ID", "Traffic Volume Count Location Address", "Street","Date of Count","Total Passing Vehicle Volume", "Vehicle Volume By Each Direction of Traffic", "Latitude","Longitude", "Location"]

In [ ]:
df.drop(df.index[0], inplace = True)

In [ ]:
df.columns = df.columns.astype(str)

c. 	Use the sklearn DictVectorizer to load the data

In [ ]:
df_dict = df.T.to_dict()
v = DictVectorizer(sparse=False)
X = v.fit_transform(df_dict.values())

In [ ]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [ ]:
v.get_feature_names_out()

array(['Date of Count=01/09/2007', 'Date of Count=01/24/2007',
       'Date of Count=01/30/2007', ...,
       'Vehicle Volume By Each Direction of Traffic=West Bound: 8200/ Oneway West Bound',
       'Vehicle Volume By Each Direction of Traffic=West Bound: 8600/ Oneway West Bound ',
       'Vehicle Volume By Each Direction of Traffic=West Bound: 9300/ Oneway West Bound'],
      dtype=object)

d.                   	Save the dataset to a Pickle (.pkl) file and submit the file and your code with your assignment.

In [ ]:
# save the dataset into a pickle file
with open('dailytraffic.pkl', 'wb') as fileWriteStream:
    pickle.dump(df, fileWriteStream)

In [ ]:
import os

In [ ]:
print('pickle file of daily traffic is saved at Location:',os.getcwd())

pickle file of daily traffic is saved at Location: /content

e. 	How many samples does this dataset have?
f.  	How many features does this dataset have?

In [ ]:
print("there are " + str(len(df)) + " samples")

there are 1279 samples

g. 	For each feature, indicate whether it is categorical or continuous. If categorical, how many levels does it have?

In [ ]:
len(df.columns)

9

In [ ]:
df.dtypes

ID                                             object
Traffic Volume Count Location Address          object
Street                                         object
Date of Count                                  object
Total Passing Vehicle Volume                   object
Vehicle Volume By Each Direction of Traffic    object
Latitude                                       object
Longitude                                      object
Location                                       object
dtype: object

In [ ]:
df.head()

,ID,Traffic Volume Count Location Address,Street,Date of Count,Total Passing Vehicle Volume,Vehicle Volume By Each Direction of Traffic,Latitude,Longitude,Location
1,414,5838 West,Lake St,11/14/2006,7100,East Bound: 3600 / West Bound: 3500,41.887904,-87.771064,"(41.887904, -87.771064)"
2,176,320 East,76th St,03/28/2006,8600,East Bound: 3800 / West Bound: 4800,41.756542,-87.617335,"(41.756542, -87.617335)"
3,1367,1730 East,57th Dr,08/24/2006,53500,East Bound: 27800 / West Bound: 25700,41.792663,-87.582231,"(41.792663, -87.582231)"
4,316,125 East,24th St,03/30/2006,700,East Bound: 400 / West Bound: 300,41.849302,-87.622658,"(41.849302, -87.622658)"
5,1294,2924 East,130th St,08/29/2006,4200,East Bound: 2300 / West Bound: 1900,41.659177,-87.552112,"(41.659177, -87.552112)"

In [ ]:
convert_dict = {'ID': float, 'Latitude': float, 'Longitude': float, 'Total Passing Vehicle Volume': float}
 
df = df.astype(convert_dict)
print(df.dtypes)

ID                                             float64
Traffic Volume Count Location Address           object
Street                                          object
Date of Count                                   object
Total Passing Vehicle Volume                   float64
Vehicle Volume By Each Direction of Traffic     object
Latitude                                       float64
Longitude                                      float64
Location                                        object
dtype: object

In [ ]:
df.describe(include='object')

,Traffic Volume Count Location Address,Street,Date of Count,Vehicle Volume By Each Direction of Traffic,Location
count,1279,1279,1279,1279,1279
unique,1203,251,95,1223,1276
top,210 South,Damen Ave,03/28/2006,North Bound: 6300 / South Bound: 6200,"(41.828474, -87.65091)"
freq,4,33,73,4,2

h. 	Justify, in writing, you answers to part iii


*   The dataset have combined categorical and continous variables. From the dtype we can determine ID, Total Passing Vehicle Volume, Latitude and Longitude are float which is continous and others are object which are categorical.

i.  	For each feature, calculate its mean and median (if continuous) and its mode (if categorical)

In [ ]:
df.mean()

<ipython-input-21-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

ID                                689.937451
Total Passing Vehicle Volume    19466.301798
Latitude                           41.849394
Longitude                         -87.670298
dtype: float64

In [ ]:
df["ID"].median()

684.0

In [ ]:
df["Total Passing Vehicle Volume"].median()

17300.0

In [ ]:
df["Latitude"].median()

41.87138

In [ ]:
df["Longitude"].median()

-87.66285

In [ ]:
df.Street.mode()

0    Damen Ave
dtype: object

In [ ]:
df["Total Passing Vehicle Volume"].mode()

0    12500.0
dtype: float64

In [ ]:
df["Date of Count"].mode()

0    03/28/2006
dtype: object

In [ ]:
df["Vehicle Volume By Each Direction of Traffic"].mode()

0    North Bound: 6300 / South Bound: 6200
dtype: object

In [ ]:
df.Location.mode()

0     (41.828474, -87.65091)
1     (41.87346, -87.647091)
2    (41.876934, -87.666676)
dtype: object

j.  	Propose a plan to use this dataset to answer your question in part a.



*   The plan is to use how daily traffic different from the location to determine the faster route for people from certain locations. Also, it would be useful to analzye which locations have trouble with traffic to decrease its traffic for people. In this case, we can analyze vehicle volumne by each direction of traffic, and location to determine which location and direction has a higher rate of traffic. Moreover, we can understand why they are having more traffic than others.