(10 points) Modify the digits tutorial for the Iris dataset (use 125 randomly selected samples as training data and the last 25 samples as test data).

In [2]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import time
from sklearn import svm

In [3]:
iris_dataset = datasets.load_iris()

In [4]:
iris = pd.DataFrame(iris_dataset.data, columns=iris_dataset.feature_names)
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [6]:
X = pd.DataFrame(iris_dataset.data)
y = pd.DataFrame(iris_dataset.target)

In [5]:
from sklearn.svm import SVC
model=SVC()

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y,
    test_size=0.166, shuffle = True, random_state = 150)
print("X_train shape: {}".format(X_train.shape))
print("X_test shape: {}".format(X_test.shape))
print("y_train shape: {}".format(y_train.shape))
print("y_test shape: {}".format(y_test.shape))

X_train shape: (125, 4)
X_test shape: (25, 4)
y_train shape: (125, 1)
y_test shape: (25, 1)

In [9]:
clf = svm.SVC(gamma=0.001)

In [10]:
clf.fit(X_train, y_train)

predicted = clf.predict(X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [13]:
import sklearn.metrics as metrics

In [17]:
print(f"{metrics.classification_report(y_test, predicted, zero_division=0)}\n")

              precision    recall  f1-score   support

           0       0.80      1.00      0.89         8
           1       0.00      0.00      0.00        10
           2       0.47      1.00      0.64         7

    accuracy                           0.60        25
   macro avg       0.42      0.67      0.51        25
weighted avg       0.39      0.60      0.46        25