Final project topic is Analysis of walkability using Machine Learning model, and our team members are Anh Nguyen, Elizabeth Pacious and Hanna Song.

In [5]:
df = pd.read_csv("https://edg.epa.gov/EPADataCommons/public/OA/EPA_SmartLocationDatabase_V3_Jan_2021_Final.csv", header=None)

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,107,108,109,110,111,112,113,114,115,116
0,OBJECTID,GEOID10,GEOID20,STATEFP,COUNTYFP,TRACTCE,BLKGRPCE,CSA,CSA_Name,CBSA,...,D5DRI,D5DE,D5DEI,D2A_Ranked,D2B_Ranked,D3B_Ranked,D4A_Ranked,NatWalkInd,Shape_Length,Shape_Area
1,1,4.8113E+11,4.8113E+11,48,113,7825,4,206,"Dallas-Fort Worth, TX-OK",19100,...,0.184696707,0.000475598,0.137706673,6,14,15,17,14,3110.36082,297836.0831
2,2,4.8113E+11,4.8113E+11,48,113,7825,2,206,"Dallas-Fort Worth, TX-OK",19100,...,0.323221283,0.000800804,0.231867832,3,10,12,14,10.83333333,3519.46911,484945.1466
3,3,4.8113E+11,4.8113E+11,48,113,7825,3,206,"Dallas-Fort Worth, TX-OK",19100,...,0.314627883,0.000736145,0.213146272,1,1,7,17,8.333333333,1697.091802,106705.9281
4,4,4.8113E+11,4.8113E+11,48,113,7824,1,206,"Dallas-Fort Worth, TX-OK",19100,...,0.229820928,0.000708073,0.205018325,16,10,17,17,15.66666667,2922.609204,481828.4303

In [7]:
import pickle

In [8]:
with open('df.pkl', 'wb') as fileWriteStream:
    pickle.dump(df, fileWriteStream)

In [9]:
import os

In [10]:
print('pickle file of dataset is saved at Location:',os.getcwd())

pickle file of dataset is saved at Location: /content