(20 points) Choose a (different) JSON dataset for #6.
 
For the following problems, download and install nltk, urllib2, bs4, feedparser, pypdf, and tweepy to your machine.  Provide screenshots showing successful imports of these packages.

In [ ]:
!pip install nltk
!pip install urllib2
!pip install bs4
!pip install feedparser
!pip install tweepy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.8/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk) (1.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement urllib2 (from versions: none)
ERROR: No matching distribution found for urllib2
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.8/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from bs4) (4.6.3)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting feedparser
  Downloading feedparser-6.0.10-py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.1/81.1 KB 1.8 MB/s eta 0:00:00
Collecting sgmllib3k
  Downloading sgmllib3k-1.0.0.tar.gz (5.8 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sgmllib3k
  Building wheel for sgmllib3k (setup.py) ... done
  Created wheel for sgmllib3k: filename=sgmllib3k-1.0.0-py3-none-any.whl size=6066 sha256=30a7c201e1c880a042359f139ec8797f3f4f8c0eaf84563bb3bddaa3f2153e1c
  Stored in directory: /root/.cache/pip/wheels/83/63/2f/117884c3b19d46b64d3d61690333aa80c88dc14050e269c546
Successfully built sgmllib3k
Installing collected packages: sgmllib3k, feedparser
Successfully installed feedparser-6.0.10 sgmllib3k-1.0.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tweepy in /usr/local/lib/python3.8/dist-packages (3.10.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from tweepy) (1.3.1)
Requirement already satisfied: requests[socks]>=2.11.1 in /usr/local/lib/python3.8/dist-packages (from tweepy) (2.25.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]>=2.11.1->tweepy) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]>=2.11.1->tweepy) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]>=2.11.1->tweepy) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]>=2.11.1->tweepy) (1.7.1)

In [2]:
from sklearn.feature_extraction import DictVectorizer
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import  ShuffleSplit, train_test_split
import sklearn
import pickle
from urllib.request import urlopen
import json

a. 	Spend some time exploring this dataset, and brainstorm a question that you can use it to answer.

b. 	First, use the read_csv function in pandas to load the data into a dataframe. Next, use the to_dict function to save the data as a dictionary (HINT: transpose the data and make sure to only keep the values)

In [47]:
import requests
from pandas.io.json import json_normalize

url = "https://data.cdc.gov/api/views/w9j2-ggv5/rows.json?accessType=DOWNLOAD"
#get the data from url
response = requests.get(url).json()

df = pd.json_normalize(response, 'data')

In [48]:
df.to_csv('csvfile.csv', encoding='utf-8', index=False)

In [49]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,row-rhmg~ppfg~kih8,00000000-0000-0000-20F5-93F72E08E03C,0,1599577329,None,1599577329,None,{ },1900,All Races,Both Sexes,47.3,2518.0
1,row-xiv2.jqjx~2g57,00000000-0000-0000-55B6-4145A08CAE27,0,1599577329,None,1599577329,None,{ },1901,All Races,Both Sexes,49.1,2473.1
2,row-hjm5_mwe5.mw5g,00000000-0000-0000-2E53-3946382A5254,0,1599577329,None,1599577329,None,{ },1902,All Races,Both Sexes,51.5,2301.3
3,row-e8gs.7cxg~cqbx,00000000-0000-0000-3700-FFC7E757D6E4,0,1599577329,None,1599577329,None,{ },1903,All Races,Both Sexes,50.5,2379.0
4,row-6gvu_yxj8.ma6s,00000000-0000-0000-7E14-75430798458F,0,1599577329,None,1599577329,None,{ },1904,All Races,Both Sexes,47.6,2502.5

In [50]:
df.drop(df.iloc[:, 0:8], inplace=True, axis=1)

In [51]:
df

        8          9           10    11      12
0     1900  All Races  Both Sexes  47.3  2518.0
1     1901  All Races  Both Sexes  49.1  2473.1
2     1902  All Races  Both Sexes  51.5  2301.3
3     1903  All Races  Both Sexes  50.5  2379.0
4     1904  All Races  Both Sexes  47.6  2502.5
...    ...        ...         ...   ...     ...
1066  2014      White        Male  76.7   853.4
1067  2015      White        Male  76.6   861.9
1068  2016      White        Male  76.4   858.9
1069  2017      White        Male  76.4   863.4
1070  2018      White        Male  None   853.1

[1071 rows x 5 columns]

In [52]:
df.columns = ["Year", "Race", "Sex","Average_Life_Expectancy","Age-adjusted Death Rate"]

In [53]:
df.columns = df.columns.astype(str)

In [54]:
df.head()

   Year       Race         Sex Average_Life_Expectancy Age-adjusted Death Rate
0  1900  All Races  Both Sexes                    47.3                  2518.0
1  1901  All Races  Both Sexes                    49.1                  2473.1
2  1902  All Races  Both Sexes                    51.5                  2301.3
3  1903  All Races  Both Sexes                    50.5                  2379.0
4  1904  All Races  Both Sexes                    47.6                  2502.5

c. 	Use the sklearn DictVectorizer to load the data

In [55]:
df_dict = df.T.to_dict()
v = DictVectorizer(sparse=False)
X = v.fit_transform(df_dict.values())

In [56]:
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [57]:
v.get_feature_names_out()

array(['Age-adjusted Death Rate=1005.4', 'Age-adjusted Death Rate=1007.0',
       'Age-adjusted Death Rate=1009.0', ..., 'Year=2016', 'Year=2017',
       'Year=2018'], dtype=object)

d.                   	Save the dataset to a Pickle (.pkl) file and submit the file and your code with your assignment.

In [58]:
with open('death_rate_life_expectancy.pkl', 'wb') as fileWriteStream:
    pickle.dump(df, fileWriteStream)

In [59]:
import os

In [60]:
print('pickle file of death and life expectancy is saved at Location:',os.getcwd())

pickle file of death and life expectancy is saved at Location: /content

e. 	How many samples does this dataset have?
f.  	How many features does this dataset have?

In [61]:
print("there are " + str(len(df)) + " samples")

there are 1071 samples

g. 	For each feature, indicate whether it is categorical or continuous. If categorical, how many levels does it have?

In [62]:
len(df.columns)

5

In [63]:
for col in df.columns:
    print(col)

Year
Race
Sex
Average_Life_Expectancy
Age-adjusted Death Rate

In [64]:
df.dtypes

Year                       object
Race                       object
Sex                        object
Average_Life_Expectancy    object
Age-adjusted Death Rate    object
dtype: object

h. 	Justify, in writing, you answers to part iii

*   The dataset have both categorical and continous variables. I converted obejct variables in to float because they are continous variables but downloaded as object. Year, Average Life Expectancy and Age-adjusted Death Rate are float which are continous and others are categorical from following code.

In [65]:
convert_dict = {'Year': float, 'Average_Life_Expectancy': float, 'Age-adjusted Death Rate': float}
 
df = df.astype(convert_dict)
print(df.dtypes)

Year                       float64
Race                        object
Sex                         object
Average_Life_Expectancy    float64
Age-adjusted Death Rate    float64
dtype: object

In [66]:
df.dtypes

Year                       float64
Race                        object
Sex                         object
Average_Life_Expectancy    float64
Age-adjusted Death Rate    float64
dtype: object

i.  	For each feature, calculate its mean and median (if continuous) and its mode (if categorical)

In [67]:
df.mean()

<ipython-input-67-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Year                       1959.000000
Average_Life_Expectancy      64.500188
Age-adjusted Death Rate    1593.061625
dtype: float64

In [68]:
df["Race"].mode()

0    All Races
1        Black
2        White
dtype: object

In [69]:
df["Sex"].mode()

0    Both Sexes
1        Female
2          Male
dtype: object

In [70]:
df["Year"].median()

1959.0

In [71]:
df["Average_Life_Expectancy"].median()

66.8

In [72]:
df["Age-adjusted Death Rate"].median()

1513.7

j.  	Propose a plan to use this dataset to answer your question in part a.

Using this dataset, we can determine the average life expectacny and death rate from race and sex. Throughout this, we can understand how these values associated with their life expectancy and death rate. Also, year might be a good determination to understand how human beings developed its life expectancy and death rate through the past year to determine our average life expectancy is getting increased.