(20 points) Load the airports only (airports.dat) dataset from http://openflights.org/data.html into SKLearn using the dictionary vectorizer function.

In [1]:
from sklearn.feature_extraction import DictVectorizer
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets
import pandas as pd
from sklearn.model_selection import  ShuffleSplit, train_test_split
import sklearn
import pickle

In [2]:
airport = pd.read_csv("https://raw.githubusercontent.com/jpatokal/openflights/master/data/airports.dat", header=None)

a. First, use the read_csv function in pandas to load the data into a dataframe. Next, use the to_dict function to save the data as a dictionary (HINT: transpose the data and make sure to only keep the values)

In [3]:
df = airport
airport.columns = airport.columns.astype(str)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005,5388,10,U,Pacific/Port_Moresby,airport,OurAirports
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977,239,10,U,Pacific/Port_Moresby,airport,OurAirports
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001,146,10,U,Pacific/Port_Moresby,airport,OurAirports

In [5]:
# dict function to the data as a dict
df_dict1 = df.to_dict('records')

print(df_dict1[0])

{'0': 1, '1': 'Goroka Airport', '2': 'Goroka', '3': 'Papua New Guinea', '4': 'GKA', '5': 'AYGA', '6': -6.081689834590001, '7': 145.391998291, '8': 5282, '9': '10', '10': 'U', '11': 'Pacific/Port_Moresby', '12': 'airport', '13': 'OurAirports'}

b. Use the sklearn DictVectorizer to load the data

In [6]:
v = DictVectorizer()
trans_df = v.fit_transform(df_dict1)
trans_df

<7698x28985 sparse matrix of type '<class 'numpy.float64'>'
	with 107772 stored elements in Compressed Sparse Row format>

d. How many samples does this dataset have?

In [7]:
df.shape

(7698, 14)

In [8]:
print("there are " + str(len(df)) + " samples")

there are 7698 samples

e. How many features does this dataset have?

In [9]:
len(df.columns)

14

f. For each feature, indicate whether it is categorical or continuous. If categorical, how many levels does it have?

In [10]:
df.columns = ["Airport_ID", "Name", "City","Country","IATA_FAA", "ICAO","Latitude", "Longitude","Altitude","Timezone", "DST", "TZ","V13", "V14"]

In [11]:
for col in df.columns:
    print(col)

Airport_ID
Name
City
Country
IATA_FAA
ICAO
Latitude
Longitude
Altitude
Timezone
DST
TZ
V13
V14

g. Justify, in writing, your answers to part iii

In [12]:
df.dtypes

Airport_ID      int64
Name           object
City           object
Country        object
IATA_FAA       object
ICAO           object
Latitude      float64
Longitude     float64
Altitude        int64
Timezone       object
DST            object
TZ             object
V13            object
V14            object
dtype: object

h. For each feature, calculate its mean and median (if continuous) and its mode (if categorical)

In [15]:
df["Airport_ID"].mean()

5170.950116913484

In [16]:
df["Latitude"].mean()

25.808442484912426

In [17]:
df["Longitude"].mean()

-1.3905462050706137

In [18]:
df["Altitude"].mean()

1015.873343725643

In [14]:
df["Name"].mode()

0    Capital City Airport
1       Newcastle Airport
2       San Pedro Airport
3     Santa Maria Airport
dtype: object

In [20]:
df["City"].mode()

0    London
dtype: object

In [21]:
df["Country"].mode()

0    United States
dtype: object

In [22]:
df["IATA_FAA"].mode()

0    \N
dtype: object

In [19]:
df["ICAO"].mode()

0        03N
1       07FA
2       07MT
3       0WI8
4       18AZ
        ...
7693    ZYXC
7694    ZYYJ
7695    ZYYK
7696    ZYYY
7697      \N
Length: 7698, dtype: object

In [23]:
df["Timezone"].mode()

0    1
dtype: object

In [24]:
df["DST"].mode()

0    U
dtype: object

In [25]:
df["TZ"].mode()

0    \N
dtype: object

In [27]:
df["V13"].mode()

0    airport
dtype: object

In [26]:
df["V14"].mode()

0    OurAirports
dtype: object

c. Save the dataset to a Pickle (.pkl) file and submit the file and your code with your assignment.

In [28]:
with open('airports.pkl', 'wb') as fileWriteStream:
    pickle.dump(df, fileWriteStream)

In [29]:
import os

In [30]:
print('pickle file of airports is saved at Location:',os.getcwd())

pickle file of airports is saved at Location: /content